/* Title Section */
a {
    color: inherit;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 100%;
}

hr {
    border-top: 3px solid rgba(0,0,0,.1);
    margin-bottom: 20px;
}

#title h1 {
    font-weight: bold;
}

#title h3 {
    font-weight: 300;
}


@media (min-width: 1024px) {
    #title h1, #title h3 {
        font-size: 5rem;
    }
}


/* Introduction Section */
#introduction .welcome, #experience .experience{
    margin-bottom: 70px;
}

#introduction .row div {
    margin-bottom: 20px;
}

/* Experience section */
#experience div.row{
    margin-bottom: 50px;
}

#experience .experience, #experience h4{
    color: #FAECDC;
}

#experience h2 {
    font-size: 40px;
}

#experience h3 {
    color: #FABB70;
    text-align: left;
}

h4, p {
    text-align: left;
}

/* Footer Section */
#contact-me ul li .icon{
    font-size: 35px;
    margin-right: 20px;
}

#contact-me p {
    text-align: center;
}


/* Background classes */

.background {
    padding: 200px 0;
}

.background-black {
    background-color: #000000;
    color: #ffffff;
}

.background-experience {
    background-color: #000000;
    color: #ffffff;
}

.background-white {
    background-color: #FFFFFF;
    color: #000000;
}

.bg {
  /* The image used */
  background-image: url("../images/background.jpg");

  /* Half height */
  height: 75%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
