/* Title Section */
a {
    color: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
}

hr {
    border-top: 3px solid rgba(0,0,0,.1);
    margin-bottom: 20px;
}

#title h1 {
    font-weight: bold;
}

#title h3 {
    font-weight: 400;
}

#title .container, #contact-me .container {
    text-align: center;
}


/* Introduction Section */
#introduction .welcome, #experience .experience{
    text-align: center;
    margin-bottom: 70px;
}

#introduction .row div {
    margin-bottom: 20px;
}

/* Experience section */
#experience div.row{
    margin-bottom: 50px;
}

#experience .experience, #experience h4{
    color: #FAECDC;
}

#experience h2 {
    font-size: 40px;
}

#experience h3 {
    color: #FABB70;
}

/* Footer Section */
#contact-me ul li .icon{
    font-size: 35px;
    margin-right: 20px;
}


/* Background classes */
.background {
    padding: 150px 0;
}

.background-ciano {
    background-color: #3A88AD;
    color: #FABB70
}

.background-ciano-experience {
    background-color: #3A88AD;
    color: #000;
}

.background-white {
    background-color: #FAECDC;
    color: #3A88AD;
}
